.div_1 {
height: 50px;
background-color: cyan;
}

.div_2{
    height: 400px;
    background-color: darkgoldenrod;
}

.div_3{
    height: 50px;
    background-color: cyan;
}

.div_4{
    height: 50px;
    background-color: violet;
}